* {
    box-sizing: border-box;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    outline: none;
}
body {
    background-color: #FBFAFB;
}
.clickable {
    cursor: pointer;
    color: #FE2E64;
}
.main{
    /*position: fixed;*/
    /*width: 100%;*/
    margin-top: 40vh;
    /*margin-left: 10%;*/
    /*transform: translate(-50%, -50%);*/
}
.line {
    text-align: center;
    font-size: 2em;
}
.line1 {
    font-weight: bold;
}
.randomWiki {
    color: #FE2E64;
}
#search-bar {
    height: 2.5em;
    width: 50%;
    border: 3px solid;
    border-radius: 1em;  
    border-color: #FE2E64; 
}
#search-bar::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /* Now your own custom styles */
  /*background: #FE2E64;*/
}
.search-cancel-btn {
    border: none;
    background-color: #FE2E64;
    color: white;
    font-weight: bold;
    font-size: 0.6em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.line5 {
    margin: 0 auto;
    max-width: 600px;
}
.line5 div {
    width: 85%;
    border-left: 3px;
    background-color: #FAFAFA;
    margin: 1em auto 0 auto;
    padding: 1em;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}
.line5 div:hover {
    border-left: 3px solid #FE2E64;
}